*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(180deg, grey, white);
    font-family: 'Space Mono', monospace;
}

.botao{
    text-align: center;
    margin-top: 25px;
    
    
}
.voltar{
    text-align: center;
    margin-top: 1.7rem;
    margin-bottom: 2.3rem;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px black;
    
    

}

.voltar:hover{
    text-decoration: uppercase;
    text-decoration: none;
}

.titulo{
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 5px 5px 10px black;
    color: rgba(255, 255, 255, 0.671);

}

section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    /* place-items: center; */
}
.fotos{
    
    border: 10px solid white;
    width: 100%;
    height: 320px;
    background-color: black;
    border: 2px solid black;
    box-shadow: 5px 5px 10px;
    border-radius: 10px;
}

#pet1{
    background-image: url(../imagens/pet1.webp.crdownload);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#pet2{
    background-image: url(../imagens/pet2.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#pet3{
    background-image: url(../imagens/pet3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#pet4{
    background-image: url(../imagens/pet4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#pet5{
    background-image: url(../imagens/pet5.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#pet6{
    background-image: url(../imagens/pet6.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.copyright{
    color: #000;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1em;
   
}

@media only screen and (min-width: 600px){
    section{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        margin-left: 2rem;
        margin-right: 2rem;
        margin: auto;
        place-items: center;
        
    }

    .fotos{
       width: 80%;
       height: 350px;
           
    }
    
    #pet1, #pet2, #pet3, #pet4, #pet5, #pet6{
        background-size: cover;
    }
    
}

   
