*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 2800px;
    background-color:black ;
    /* background-image: linear-gradient(180deg, black, rgb(223, 23, 23)); */
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: 'Space Mono', monospace;
    color: white;
}

section.modulo{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

section.modulo:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1400px;
    /* z-index: 8; */
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 80%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 80%, #000 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 80%, black 100%);
    z-index: 8;
}

section img{
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    background-size: cover;
    background-repeat: no-repeat;
}

/* #segunda{
    margin-left: 100px;
    width: auto;
    top:auto;
    left: auto;
    z-index: 10;
} */

#texto{
    position: absolute;
    color: white;
    z-index: 2;
    left: auto;
    right: auto;
    font-size: 5em;
    text-align: center;
    padding-top: 160px;
    padding-left: 35px;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-shadow: 10px 10px 5px black;
    /* font-family: 'Permanent Marker', cursive; */
    
}
.titulo{
    color:white;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 150px;
    font-size: 3rem;
    text-shadow: 3px 5px 5px  hsl(217, 12%, 63%);
    
}

p{
    color:white;
    text-align: center;
    font-size: 1rem;
    /* font-family: 'Space Mono', monospace; */
   
}

.cards{
    display: flex;
    margin-top: 10rem;
    margin-bottom: 10rem;
   
    /* transition: all 0.8s; */
   cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; 
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 1.5em;
   
}

#card1, #card2, #card3{
    color: white;
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 25px;
    box-shadow: 8px 8px 5px  hsl(217, 12%, 63%);
    margin: auto;
    padding-top: 10px;
    text-decoration: none;
  
   
}

#card1{
    background-image: url(./imagens/imgb1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 2rem;
}

#card1:hover{
    transform:translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}



#card2{
    background-image: url(./imagens/pet8.jpg);
    /* background-size: cover; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 2rem;   
    
}

#card2:hover{
    transform:translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

#card3{
    background-image: url(./imagens/calc3.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
}

#card3:hover{
    transform:translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
    text-decoration: underline;
    text-decoration: none;
}

#link{
    margin-bottom: 0;
    margin-top: 270px;
    color: black;
    font-size: 40px;
    text-decoration: none;
    /* text-shadow: 5px 5px 5px rgb(186, 24, 24); */
    background-image: linear-gradient(180deg, black, white, black);
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
}

.container{
    width: 100%;
    /* max-width: 760px; */
    margin: 0 auto;
    padding: 0 20px;   
     
}

.module p{
    margin-bottom: 40px;
}

.module:last-child{
    margin-bottom: 0;
}
.module h2{
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;    
}

.module.content1{
    padding: 40px 0;
    background-color: #ece7d5;
    background-image: linear-gradient(180deg, black, grey);
}
.module.content2{
    padding: 40px 0;
    background-color: #ece7d5;
    background-image: linear-gradient(180deg, grey, white);
}

.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important; 
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-backgroung-size: cover;
    -o-backgroung-size: cover;
}

.module.parallax{
    background-image: url(./imagens/bartender.jpg);
}
.parallax-texto{
    text-align: center;
    font-size: 5em;
    letter-spacing: 8px;
    text-shadow: 10px 10px 5px black;
}


.texto-parallax{
    font-size: 20px;
   
}

.copyright{
    color: #000;
    margin-top: 100px;
}

@media only screen and (max-width: 900px) {
    .body{
        height: auto;
       
    }

    #texto{
        font-size: 2.5em;
    }
    
  
    .cards{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       
    }

    #card1, #card2, #card3{
        margin-left: auto;
        margin-right: auto;       
    }

    p{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}